---

name: build
on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '25 4 * * 4'
  workflow_dispatch:

jobs:
  build-base:
    uses: ./.github/workflows/build-one.yml
    with:
      folder: .
      tag: latest
    secrets: inherit

  build-with-node:
    if: ${{ vars.BUILD_WITH_NODE == 'true' }}
    needs:
      - build-base
    uses: ./.github/workflows/build-one.yml
    with:
      folder: with-node
      tag: with-node
      parent: latest
    secrets: inherit

  build-with-deno:
    if: ${{ vars.BUILD_WITH_DENO == 'true' }}
    needs:
      - build-base
    uses: ./.github/workflows/build-one.yml
    with:
      folder: with-deno
      tag: with-deno
      parent: latest
    secrets: inherit

  build-with-chromedriver:
    if: ${{ vars.BUILD_WITH_CHROMEDRIVER == 'true' }}
    needs:
      - build-base
    uses: ./.github/workflows/build-one.yml
    with:
      folder: with-chromedriver
      tag: with-chromedriver
      parent: latest
    secrets: inherit

  build-with-playwright:
    if: ${{ vars.BUILD_WITH_PLAYWRIGHT == 'true' }}
    needs:
      - build-with-node
    uses: ./.github/workflows/build-one.yml
    with:
      folder: with-playwright
      tag: with-playwright
      parent: with-node
    secrets: inherit

  build-with-puppeteer:
    if: ${{ vars.BUILD_WITH_PUPPETEER == 'true' }}
    needs:
      - build-with-node
    uses: ./.github/workflows/build-one.yml
    with:
      folder: with-puppeteer
      tag: with-puppeteer
      parent: with-node
    secrets: inherit

  build-with-puppeteer-xvfb:
    if: ${{ vars.BUILD_WITH_PUPPETEER_XVFB == 'true' }}
    needs:
      - build-with-puppeteer
    uses: ./.github/workflows/build-one.yml
    with:
      folder: with-puppeteer-xvfb
      tag: with-puppeteer-xvfb
      parent: with-puppeteer
    secrets: inherit

  build-with-selenoid:
    if: ${{ vars.BUILD_WITH_SELENOID == 'true' }}
    needs:
      - build-with-chromedriver
    uses: ./.github/workflows/build-one.yml
    with:
      folder: with-selenoid
      tag: with-selenoid
      parent: with-chromedriver
    secrets: inherit
